 /*Body*/
body{

    background: #f6f6f6f5;
  }
 /*nav*/
nav{
    margin-top: -130px;
 }
 /*table*/
.table{
        margin-top:-1%;
        display: flex;
        justify-content: center;     
    }
table {
      width: 80%;      
      height:100vh;
      border-collapse: collapse;
    }
td {
      text-align:left;
      font-size: 20px;
    }
.col {
      position: relative;
      margin-top: 115px;

    }
.col p {
      font-size: 20px;
      line-height: 1.6;
      margin: 16px 119px 39px 0;
    }
.col img {
      width: 85%;
      height:373px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    /*===Title===*/
.title {
      text-align: center;
      margin: 141px 0 42px;
    }
    
    /*===Team ===*/
.tm {
      text-align: center;
      margin: 135px 0 40px;
    }
.team {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
  }

  .teamm-track {
    display: flex;
    transition: transform 5s ease-in-out;
  }

  .teamm {
    min-width: 20%; /* 5 visible */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .teamm img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .teamm h4 {
    margin-top: -8px;
    font-weight: bold;
    font-size: 15px;
  }
  .teamm p {
    
    font-size: 14px;
    color: #555;
    line-height: 1.4;
    max-width: 225px; /* force shorter line */
    margin: 0 auto;   /* center the text */
    
  }
  /*===Footer===*/
  .footer {
    background-color: #328E6E;
    color: white;
    text-align: center;
    padding: 215px 0;
    position: relative;
    width: 99.75%;
    margin: 50px 3px;
    border-radius: 20px;
  }
  .leftcontent {
    position: absolute;
    top: 45%;
    left: 29px;
    transform: translateY(-50%);
    text-align: left;
    width: 19%;
  }
  .leftcontent h3 {
    margin-top: 18px;
    left: 73px;
    font-size: 46px;
    font-weight: bold;
    position:absolute;
  }
  .leftcontent p {

    margin: 92px 0 0;
    font-size: 20px;
  }
  .leftcontent table {
    margin-top: 20px;
  }
  .footer-logo{
    margin-top: 2%;
    left: -3%;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .socialmedia {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right:15px;
    margin-top: 20px;
  }