 /*nav*/
nav{
    margin-top: -130px;
 }
 /*table*/
.table{
        margin-top:-1%;
        display: flex;
        justify-content: center;     
    }
table {
      width: 80%;       /* Full screen width */
      height:100vh;
      border-collapse: collapse;
    }
td {
      text-align:left;
      font-size: 20px;
    }
.col {
      position: relative;
      margin-top: 115px;

    }
.col p {
      font-size: 20px;
      line-height: 1.6;
      margin: 16px 119px 39px 0;
    }
.col img {
      width: 85%;
      height:373px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    /*===Title===*/
.title {
      text-align: center;
      margin: 141px 0 42px;
    }
    
    /*===Team ===*/
.tm {
      text-align: center;
      margin: 135px 0 40px;
    }
.team {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
  }

  .teamm-track {
    display: flex;
    transition: transform 5s ease-in-out;
  }

  .teamm {
    min-width: 20%; /* 5 visible */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .teamm img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .teamm p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
  }
.spacer{
    height: 30vh;
  }