@font-face {
    font-family: 'MonumentExtend';
    src: url(MonumentExtended-Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 40);
    text-decoration: none;
}

body {
    background-color: #F6F6F6;
    background-image: url(Images\ &\ Logos/background.png);
    background-size: cover;

}

/*=====NAVIGATION BAR=====*/
.checkout-btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--dark);
    color: var(--dark);
    cursor: pointer;
    background: none;
}

.checkout-btn:hover {
    color: var(--light);
    background-color: var(--dark);
}

nav {
    position: fixed;
    display: flex;
    height: 10vh;
    background-color: #328E6E;
    margin-top: -90px;
    left: 0;
    right: 0;
    padding: 2rem 5%;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}

/*=====NAV BAR - LOGO=====*/
nav img {
    width: 60px;
    margin-top: 0.8vh;
    position: relative;
}

nav ul li {
    display: inline-block;
    line-height: 10vh;
    margin: 0 1.8rem;
    border-bottom: 3px;
    font-size: 1.3rem;
    color: var(--light);
}

nav ul li a {
    color: #F6F6F6;
}

nav ul li a:hover {
    color: var(--green);
}

nav .icons {
    display: flex;
}

nav .icons div {
    height: 4.5rem;
    width: 4rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: transparent;
    color: var(--light);
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 0.3rem;
    text-align: center;
}

nav .icons div:hover {
    background: var(--green);
    color: #F6F6F6;
}

/*=====MENU ICON (Hidden in Large Displays)=====*/
#btn {
    display: none;
}

nav .search-form {
    position: absolute;
    top: -38%;
    right: -105%;
    width: 25rem;
    height: 4rem;
    background: #F6F6F6;
    border-radius: 0.5rem;
    border: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: 1s ease;
    z-index: 999;
}

nav .search-form.active {
    right: 1rem;
}

nav .search-form input {
    width: 100%;
    height: 100%;
    background: none;
    text-transform: none;
    font-size: 1rem;
    color: var(--dark);
    padding: 0.5rem;
}

nav .search-form label {
    font-size: 1.2rem;
    padding-right: 0.5rem;
    color: var(--dark);
    cursor: pointer;
}

nav .search-form label:hover {
    color: var(--green);
}

.cart-span {
    font-size: 5px;
    border-radius: 50%;
}

nav .shopping-cart {
    position: absolute;
    top: 105%;
    right: -110%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 25rem;
    background: #F6F6F6;
    z-index: 999;
    transition: 1s ease;
}

nav .shopping-cart.active {
    right: 2rem;
}

nav .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin: 0.7rem 0;
}

nav .shopping-cart .box img {
    height: 5.5rem;
}

nav .shopping-cart .box .fa-trash {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light);
    transform: translateY(-50%);
}

nav .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

nav .shopping-cart .box .content h3 {
    font-size: 1.5rem;
    color: var(--dark);
}

nav .shopping-cart .box .content span {
    font-size: 1.1rem;
    color: rgb(60, 60, 60);
}

nav .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

nav .shopping-cart .total {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--dark);
}

nav .shopping-cart .checkout-btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

nav .login-form {
    position: absolute;
    top: -38%;
    right: -110%;
    width: 25rem;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: #F6F6F6;
    text-align: center;
    z-index: 999;
    transition: 1s ease;
}

nav .login-form.active {
    right: 2rem;
}

nav .login-form .box {
    width: 100%;
    margin: 0.7rem 0;
    background: #f0f0f0;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.3rem;
    color: var(--dark);
    text-transform: none;
}

nav .login-form h3 {
    font-size: 2rem;
    color: var(--dark);
}

nav .login-form a p {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: rgb(60, 60, 60);
}

nav .login-form a p:hover {
    color: var(--green);
    transform: scale(1.2);
}



/* ==== The Information Form ==== */

form {
    background-color: #328E6E;
    width: 60%;
    padding: 1.5rem;
    margin: 100px auto;
    border-radius: 10px;
}

ul {
    list-style: none;
}

input {
    width: 100%;
}

.contact-form h1 {
    text-align: center;
    font-weight: bold;
}

.contact-details {
    width: 100%;
}

.contact-details:focus,
.send-button:focus {
    border: 1px solid #000000;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    height: auto;
}

input,
textarea {
    border-style: none;
    margin: 10px auto;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
}

.send-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 15px 16px;
    background-color: #0d0837;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

/* ==== The Footer ====*/
footer {
    background-color: #328E6E;
    color: white;
    padding: 50px;
    font-size: 16px;
    height: 75%;
}

footer hr {
    border: none;
    width: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}

footer hr {
    width: 100%;
    height: 2px;
    color: #ffffff;
}

/* ==== The Logo In The Footer === */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 0 0 30px;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo-name {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 20px;
    font-family: "MonumentExtend";
    line-height: 3.5rem;
}

/* === Information , Quick List & Social Media === */

.information-SM {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: #ffffff;
    border-radius: 10px;
    border-color: rgb(19, 96, 69, 0.5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}

.info {
    width: 30%;
    padding: 10px 5px 10px 5px;
    font-size: 1.5rem;
    color: #ffffff;

}

.ancors,
.info {
    border-right: 1px solid #ccc;
    padding-right: 40px;
}

.email-span,
.number-span,
.address-span {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 17px 0 0 0;
    color: #ffffff;
    margin: 0em 0 0 4rem;
}

.address-span {
    padding: 0;
}

.email i,
.numbers i,
.address i {
    font-size: 1.2em;
    margin-right: 8px;
    color: #f6f6f6;
}

.ancors h3 {
    margin: 0px 0px -11px 29px;
    padding-left: 4rem;
}

.ancors {
    padding-right: 11rem;
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.lists {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 0;
    padding: 0.5rem 0px 0 6rem;
}

.left,
.right {
    margin: 0;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ancors ul {
    list-style-image: url(Images\ &\ Logos/upload.png);

}

.ancors ul li {
    line-height: 2rem;
}

.ancors ul li a {
    color: #ffffff;
}

.ancors h3 {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.45rem;
    padding-left: 1rem;
}

.email p {
    margin: 0;
}

.social-media {
    margin: 0 9rem 0 0;
    padding: 20px;
    font-size: 20px;
}

.social-media span {
    line-height: 3rem;
}

.social-media span i {
    color: #F6F6F6;
    padding-right: 10px ;
}

.social-media span a {
    color: #ffffff;
}





/*=====MEDIA QUERIES=====*/
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    nav {
        padding: 2rem;
    }
}

@media (max-width:768px) {
    #btn {
        display: inline-block;
    }

    .home {
        background-size: cover;
    }

    nav ul {
        position: absolute;
        top: 105%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #F6F6F6;
    }

    nav ul.active {
        right: 1rem;
        transition: 1s ease;
    }

    nav ul li a {
        font-size: 2rem;
        font-weight: 400;
        margin: 0 10rem;
        display: block;
        color: var(--dark);
    }

    nav ul li a:hover {
        color: var(--green);
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    nav {
        width: 100%;
    }
}