@font-face {
    font-family: 'MonumentExtend';
    src: url(MonumentExtended-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --green: #136045;
    --dark: #062743;
    --light: #F6F6F6;
    --box-shadow: 0.3rem 0.3rem rgba(0,0,0,0.2);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--dark);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 40);
    text-decoration: none;
    box-sizing: border-box;
    outline: none; border: none;
    transition: all .5s linear;
}
body{
    background-color: #F6F6F6;
    background-image:url("Images\ &\ Logos/imageB1");
    background-size: cover;
    background-position: center;
}
nav {
    margin-top: -100px;
}
nav ul li, nav .icons div i {
    font-size: 1.15rem;
}
.wrapper {
    max-width: 50%;
    margin: auto;
    margin-top: 7rem;
}

.wrapper > p,
.wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
}

.wrapper > h1 {
    letter-spacing: 3px;

}

.accordion{
    background-color: #328E6E;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.accordion i {
    font-size: 1.6rem;
    color: #ffffff;
}

.active, 
.accordion:hover {
    background-color:rgb(6, 119, 51) ;
}

.pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: #e5e8df;
    overflow: hidden;
    /* background-color: rgb(154, 177, 143); */
    display: none;
}

.pannel p {
    color: rgba(0,0,0,0.7);
    font-size: 1rem;
    line-height: 1.4;
    padding-top: 1rem;
}

.faq{
    border: 1px solid rgb(193, 229, 177);
    margin: 16px;

}

.faq.active {
    border: none;
}
.footer {
    margin-bottom: 0;
}