@font-face {
    font-family: 'MonumentExtend';
    src: url(MonumentExtended-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(40, 40, 40);
    text-decoration: none;
}
body{
    background-color: #F6F6F6;
}
/*=====NAVIGATION BAR=====*/
nav {
    height: 10vh;
    background-color: #328E6E;
    margin-top: 10px;
    padding: 0 2% 0 2%;
}
/*=====NAV BAR - LOGO=====*/
nav img {
    width: 60px;
    margin-top: 0.8vh;
    position: relative;
}
nav ul {
    float: right;
    margin-right: 22%;
}
nav ul li {
    display: inline-block;
    line-height: 10vh;
    margin: 0 0 0 75px ;
    border-bottom: 3px;
    font-size: 18px;
}
nav ul li a {
    color: #F6F6F6;
}
nav ul li a:hover {
    color: aqua;
}
/*=====MENU ICON (Hidden in Large Displays)=====*/
label #btn {
    font-size: 30px;
    float: right;
    line-height: 10vh;
    cursor: pointer;
    margin-right: 2%;
    display: none;
}
#check {
    display: none;
}

/*=====MAIN HOME CONTENT=====*/
.home {
    background-image: url("Images\ &\ Logos/background.png");
    opacity: 1;
    background-size: cover;
    width: 100%;
    height: 78.6vh;
    position: relative;
}
.home-content {
    margin: 8vh 0 0 5%;
    width: auto;
    position: absolute;
}
.home-content-title {
    font-family: "MonumentExtend";
    color: #062743;
    font-size: 65px;
}
.home-content-subtitle {
    letter-spacing: 13px;
    margin-bottom: 3vh;
}
.content-para {
    font-family: "Roboto", sans-serif;
    font-size: 14.5px;
    letter-spacing: 2px;
    line-height: 4vh;
}
.home-image {
    width: 643px;
    margin-left: 55%;
}

/*=====MEDIA QUERIES=====*/
@media (max-width: 1200px) {
    nav img {
        left: 2%;
        top: 0.5vh;
    }
    nav ul {
        margin-right: 15%;
    }
    .home-image {
        width: 643px;
        margin-left: 43%;
    }
}
@media (max-width: 992px) {
    nav img {
        left: 2%;
        top: 0.5vh;
        width: 50px;
    }
    nav ul {
        margin-right: 15%;
    }
    nav ul li {
        margin: 0 0 0 60px ;
    }
    nav ul li a{
        font-size: 15px;
    }
    .home-image {
        width: 643px;
        margin-left: 30%;
    }
}
@media (max-width:762px) {
    nav img {
        left: 2%;
        top: 0.5vh;
        width: 50px;
    }
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #136045;
        top: 11.4vh;
        left: -100%; text-align: center;
        transition: all 0.5s;
        z-index: 2;
    }
    nav ul li a{
        font-size: 16px;
    }
    nav ul li {
        display: block;
        margin: 50px 0 0 0;
        line-height: 5vh;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .home-image {
        width: 630px;
        margin-left: 8%;
    }

}
