@font-face {
    font-family: 'MonumentExtend';
    src: url(MonumentExtended-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --green: #136045;
    --dark: #062743;
    --light: #F6F6F6;
    --box-shadow: 0.3rem 0.3rem rgba(0,0,0,0.2);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--dark);
}

.mainContainer {
    background-color: transparent;
    width: 100%;
    margin: 13.5vh 0 0 0;
    position: absolute;
}
.heading1{
    margin-top:4rem ;

}