@font-face {
    font-family: 'MonumentExtend';
    src: url(MonumentExtended-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --green: #136045;
    --dark: #062743;
    --light: #F6F6F6;
    --box-shadow: 0.3rem 0.3rem rgba(0,0,0,0.2);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--dark);
}

.mainContainer {
    background-color: transparent;
    width: 100%;
    margin: 13.5vh 0 0 0;
    position: absolute;
}
section{
    margin-top:4rem ;
}
/*===Footer===*/
  .footer {
    background-color: #328E6E;
    color: white;
    text-align: center;
    padding: 215px 0;
    position: relative;
    width: 99.75%;
    margin: 50px 3px;
    border-radius: 20px;
    top: 840%;
  }
  .leftcontent {
    position: absolute;
    top: 40%;
    left: 110px;
    transform: translateY(-50%);
    text-align: left;
    width: 19%;
  }
  .leftcontent h3 {
    margin-top: 18px;
    left: 73px;
    font-size: 46px;
    font-weight: bold;
    position:absolute;
    
    
  }
  .leftcontent p {

    margin: 92px 0 0;
    font-size: 20px;
  }

  .rightcontent {
      position: absolute;
      width: 466px;
      height: 333px;
      top: 50%;
      left: 37%;
      transform: translateY(-50%);
      margin-right: 70px;
    }
    .rightcontent table{
      border-collapse: separate;
      border-spacing: 0px 0;
      width: 188%;
      height: 28vh;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    
    }
    .sha{
      width: 450px;
    }
    .rightcontent h3 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .rightcontent td {
      padding: 10px 20px;
      text-align: left;
      font-size: 15px;
      font-weight: 400;
    }


 
  .footer-logo{
    margin-top: 2%;
    left: -3%;
    width: 80px;
    height: 80px;
    position: absolute;
  }
  .socialmedia {
    position: relative; z-index: 2;
    width: 30px;
    height: 30px;
    margin-right:15px;
    margin-top: 20px;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 50%;
  }
  .socialmedia:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
  }
  hr{
    align-items: center;
    border: 1px solid white;
    margin-top: 118px;
    width: 82.75%;
    position: absolute;
    left: 112px;
  }
  .footer h4{
    position: absolute;
    left: 565px;
    margin-top: 162px;
    font-size: 15px;
  }
  .footer h4 span{
    color: #FFD700;
    font-weight: bold;
    margin-left: 25px;
  }
  .copyright img{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 677px;
    margin-top: 165px;
  }
  /*===footer end===*/