@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --green: #136045;
    --dark: #062743;
    --light: #F6F6F6;
    --box-shadow: 0.3rem 0.3rem rgba(0,0,0,0.2);
    --border: .2rem solid rgba(0,0,0,0.1);
    --outline: .1rem solid rgba(0,0,0,0.1);
    --outline-hover: .2rem solid var(--dark);
}

body {
    background: url("Images\ &\ Logos/background.png");
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-box {
  background: var(--light);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px --box-shadow;
  width: 30%;
  /*border-top: 6px solid #22c55e;*/
  text-align: center;
  position: relative; /* Needed for close button */
}

.logo img {
  width: 100px;
  margin-bottom: 15px;
}

.signup-box h2 {
  margin-bottom: 30px;
  color: var(--green);
  font-family: 'MonumentExtend';
  letter-spacing: 1.5px;
}

.signup-box label {
  display: block;
  margin: 8px 0 5px;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.signup-box input {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: 1.5px solid #676767d4;
  outline: none;
  cursor: pointer;
}
.signup-box input:hover {
    border: none;
    border-bottom: 2px solid #2e8888ec;
    background-color: #7978781f;
}

.signup-box .full-input {
    width: 95%;
}

.signup-box input:focus {
  border-color: var(--green);
}

/* Make inputs side by side with spacing */
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.col {
  flex: 1;
}

.signup-box button {
  width: 60%;
  padding: 12px;
  background: transparent;
  border: 1.5px solid var(--green);
  border-radius: 10px;
  color: var(--green);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.signup-box button:hover {
  background: var(--green);
  color: var(--light);
  border: 1.5px solid var(--green);
}
/*
p {
  margin-bottom: 0.25rem;
}
.signup-box .googleButton {
  border: 1.5px solid #4285f4;
  background-color: transparent;
  color: #4285f4;
  padding: 10px; 
  margin: 5px; 
  cursor: pointer;
}
.signup-box .googleButton:hover {
  border: 1.5px solid #4285f4;
  background-color: #4285f4;
  color: #F6F6F6;
}
*/

/* Close button using Font Awesome */
.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:hover {
  color: #e11d48;
  transform: scale(1.2);
}

#email, #phone, #address {
  margin-bottom: 1.5rem;
}